@use 'sass:map';

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint-down($name) {
  $value: map.get($breakpoints, $name);

  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @content;
  }
}
